@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: rgb(38, 37, 37);
    width: 128px;
    height: 128px; 
    flex: auto;
    color: beige;
    text-align: center;
    text-justify: center;
 
  }
  .card:hover {
    background-color: rgba(13, 148, 137, 0.719);
  }
  
  .grid{
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
