@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .grid div{
    background-color: rgb(38, 37, 37);
    width: 120px;
    height: 120px; 
    font-size: 60px;
    flex: auto;
    text-align: center;
    padding: 10% 0;
 
  }
  .grid div:hover {
    background-color: #be185d;
  }
  
  .grid{
    justify-items: center;
    align-items: center;
    gap: 10px;
  }

  h1{
    font-family:"Shadows Into Light";
    font-size: 40px;
  }

  .shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
}
